# This is the data visualization template with mock data
# Therefore, you can run it locally without any environment variables
# Feel free to add any environment variables you need here later

# Jika menggunakan Supabase, isi dengan credentials Supabase Anda:
NEXT_PUBLIC_SUPABASE_URL=https://dsdtxqpzofrvzxpyktoo.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_Xm9drrlGVmprn3M0dYTajA_5XAzlT3R